/autom4te.cache/
/build/
/docs/
/figs/
/include/
/lib/
/output/
/site/
/src/
/aclocal.m4
/bootstrap
/common.am
/compile
/config.cache
/config.guess
/config.log
/config.status
/config.sub
/configure
/configure.ac
/depcomp
/install-sh
/libtool
/ltmain.sh
/Makefile
/Makefile.am
/Makefile.in
/missing
/mkdocs.yml
/DOCS.md
/.autotools
/m4/lt*
/m4/libtool*
.deps
.dirstamp
.libs
*.la
*.lo
*.o
