[submodule "numbirch/docs/doxygen-awesome-css"]
	path = numbirch/docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "numbirch/docs/markdeep"]
	path = numbirch/docs/markdeep
	url = https://github.com/morgan3d/markdeep
[submodule "numbirch/docs/MathJax"]
	path = numbirch/docs/MathJax
	url = https://github.com/mathjax/MathJax
[submodule "numbirch/jemalloc"]
	path = numbirch/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
