html.light-mode {
  --fragment-background:var(--tablehead-background);
  --fragment-foreground:#282c34;
  --darkmode-toggle-button-icon:'☀️';
}

html.dark-mode {
  --darkmode-toggle-button-icon:'🌑';
}

.md svg.diagram {
  background:var(--page-background-color);
  stroke:var(--page-foreground-color);
  fill:var(--page-foreground-color);
}

center.md {
  /* remove grey placeholders for scrollbar when not needed */
  overflow:auto;
}

