/autom4te.cache/
/docs/
/figs/
/output/
/m4/
/site/
/aclocal.m4
/bootstrap
/common.am
/compile
/config.cache
/config.guess
/config.status
/config.sub
/configure
/configure.ac
/depcomp
/install-sh
/libtool
/ltmain.sh
/Makefile
/Makefile.am
/Makefile.in
/missing
/DOCS.md
/.autotools
/*.birch
/*.log
.libs
.deps
.dirstamp
*.hpp
*.cpp
*.la
*.lo
*.o
*.gcno
*.gcda
*.gcov
