Source: birch-sqlite
Section: devel
Priority: optional
Maintainer: Lawrence Murray <lawrence@indii.org>
Build-Depends: debhelper, debhelper-compat (= 13), autoconf, automake, libtool, birch-standard-dev (>= 0.0.0), libsqlite3-dev
Standards-Version: 4.6.1.1
Homepage: https://birch.sh

Package: libbirch-sqlite-0.0.0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libbirch-standard-0.0.0 (>= 0.0.0), libsqlite3-0
Description: SQLite wrapper library of the Birch probabilistic programming language

Package: birch-sqlite-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libbirch-sqlite-0.0.0 (= 0.0.0), birch-standard-dev (>= 0.0.0), libsqlite3-dev
Description: Development files for the SQLite wrapper library of Birch
