/Makefile
/MANIFEST.bak
/Makefile.old
/.libs
/aclocal.m4
/compile
/config.log
/config.status
/configure
/depcomp
/docs/html
/install-sh
/Makefile.in
/missing
/ylwrap
/autom4te.cache/
*.o
*.lo
*~
.deps
.dirstamp
/.autotools
/bin/
/birch
/include/
/lib/
/config.guess
/config.sub
/libtool
/ltmain.sh
/docs/
