Source: numbirch
Section: devel
Priority: optional
Maintainer: Lawrence Murray <lawrence@indii.org>
Build-Depends: debhelper, debhelper-compat (= 13), autoconf, automake, libtool, libeigen3-dev
Standards-Version: 4.6.1.1
Homepage: https://birch.sh

Package: libnumbirch-0.0.0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Numerical kernels and copy-on-write arrays

Package: numbirch-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libnumbirch-0.0.0 (= 0.0.0)
Description: Development files for NumBirch

Package: libnumbirch-cuda-0.0.0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Numerical kernels and copy-on-write arrays with CUDA backend

Package: numbirch-cuda-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libnumbirch-cuda-0.0.0 (= 0.0.0)
Description: Development files for NumBirch with CUDA backend
