#!/usr/bin/make -f

# environment variables to find CUDA and custom jemalloc build
export PATH=/usr/local/cuda/bin:/usr/local/bin:$PATH
export CPLUS_INCLUDE_PATH=/usr/local/cuda/include:/usr/local/include:$CPLUS_INCLUDE_PATH
export LIBRARY_PATH=/usr/local/cuda/lib64:/usr/local/cuda/lib:/usr/local/lib64:/usr/local/lib:$LIBRARY_PATH
export LD_LIBRARY_PATH=/usr/local/cuda/lib64:/usr/local/cuda/lib:/usr/local/lib64:/usr/local/lib:$LD_LIBRARY_PATH

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure --builddir cuda -- --disable-assert --enable-shared --enable-static --disable-eigen --enable-cuda
	dh_auto_configure --builddir eigen -- --disable-assert --enable-shared --enable-static --enable-eigen --disable-cuda

override_dh_auto_build:
	dh_auto_build --builddir cuda
	dh_auto_build --builddir eigen

override_dh_auto_install:
	dh_auto_install --builddir cuda
	dh_auto_install --builddir eigen
	find $(DESTDIR) -type f -name '*.la' -delete
