/.autotools
/.libs
/aclocal.m4
/autom4te.cache/
/bi/lexer.cpp
/bi/parser.cpp
/bi/parser.hpp
/bin/
/birch
/build
/compile
/config.cache
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/docs/
/include/
/install-sh
/lib/
/libtool
/ltmain.sh
/Makefile
/Makefile.in
/Makefile.old
/MANIFEST.bak
/missing
/ylwrap
.deps
.dirstamp
*.lo
*.gch
*.pch
*.o
*~
