#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	DH_COMPAT=10 dh_auto_configure -- --disable-assert --disable-shared --enable-static

override_dh_auto_install:
	dh_auto_install
	find $(DESTDIR) -type f -name '*.la' -delete
	find $(DESTDIR) -type f -name jemalloc-config -delete
	find $(DESTDIR) -type f -name jemalloc.sh -delete
	find $(DESTDIR) -type f -name jeprof -delete
	find $(DESTDIR) -type f -name jemalloc.pc -delete
