/build/
/docs/
/autom4te.cache/
/include/
/lib/
/m4/
/aclocal.m4
/autogen.sh
/common.am
/compile
/config.guess
/config.log
/config.sub
/configure
/configure.ac
/depcomp
/install-sh
/ltmain.sh
/Makefile.am
/Makefile.in
/missing
/.autotools
/site/
/mkdocs.yml
/DOCS.md
/output/
/diagnostic/
