/autom4te.cache/
/build/
/docs/
/figs/
/include/
/lib/
/output/
/site/
/m4/
/aclocal.m4
/autogen.sh
/common.am
/compile
/config.cache
/config.guess
/config.log
/config.sub
/configure
/configure.ac
/depcomp
/install-sh
/ltmain.sh
/Makefile.am
/Makefile.in
/missing
/mkdocs.yml
/DOCS.md
/.autotools
/.version
.deps
